<div class="row d-flex justify-content-center align-items-center" style="height:98vh;">
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h3>Giriş Yap</h3>
        <p>Lütfen Giriş Bilgilerinizi doldurunuz</p>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label class="pt-3 pb-3">Kullanıcı Adı</label>
          <input [(ngModel)]="name" type="text" class="form-control">
        </div>
        <div class="form-group mt-2 pt-4 pb-4">
          <button class="btn btn-dark w-100" (click)="login()">Giriş Yap</button>
        </div>
        <div class="form-group mt-2 d-flex justify-content-center">
          <a href="/register">Kayıt Ol</a>
        </div>
      </div>
    </div>
  </div>
</div>
